DJANGO_SECRET_KEY=django-insecure-some-secret-key-goes-here
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL/Neon DB settings
DB_NAME=wm_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Redis Cache
REDIS_URL=redis://127.0.0.1:6379/1

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=wm_mongodb

# ClickHouse Configuration
CLICKHOUSE_HOST=jj8tk9yx2g.ap-south-1.aws.clickhouse.cloud
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=NZrz5zKnQo_sb
CLICKHOUSE_DB=default
CLICKHOUSE_SECURE=True

# Qdrant Vector DB Configuration
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=

# FastAPI AI Service Configuration
AI_SERVICE_URL=http://localhost:8002
AI_SERVICE_API_KEY=

# OCR Microservice Configuration
OCR_SERVICE_URL=http://localhost:8001
